---
layout              : layout-1.hbs
titleSuffix         : " - Collection Page"
barWithLogo         : true
---
<div id="region-collection" class="region region-dark-background" data-deliverance-region="collection">
    <!-- page title -->
    <div class="page-title hidden" data-deliverance-element="title">
        <div class="page-title-content">
            <h6>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="5.0 -10.0 100.0 135.0" xml:space="preserve">
                    <g>
                        <path d="M50,0C22.388,0,0,22.388,0,50s22.388,50,50,50s50-22.388,50-50S77.612,0,50,0z M50.098,62.293    c-6.836,0-12.391-5.543-12.391-12.391c0-6.86,5.555-12.402,12.391-12.402c6.86,0,12.402,5.542,12.402,12.402    C62.5,56.75,56.958,62.293,50.098,62.293z"/>
                    </g>
                </svg>
                Lorem Ipsums
            </h6>
            <h2>Collection Example</h2>
        </div>
    </div>
    
    <!-- filters -->
    <ul id="filters" data-deliverance-element="filters-container">
        <li class="active hidden" data-filter="*">All</li>
        <li class="hidden" data-filter="filter-live-dates">Live Dates</li>
        <li class="hidden" data-filter="filter-albums">Albums</li>
        <li class="hidden" data-filter="filter-studio">Studio</li>
        <li class="hidden" data-filter="filter-events">Events</li>
        <li class="hidden" data-filter="filter-music">Music</li>
    </ul>
    
    <!-- container -->
    <ul id="collection" data-deliverance-element="container">
        <li class="filter-albums">
            <div class="item-content hidden">
                <div class="item-image">
                    <img src="../media/images/albums/01.jpg" width="500" height="250" alt="">
                </div>
                <div class="item-description">
                    <h5>California</h5>
                    <p>The First Album</p>
                    <a href="javasript:void(0)" class="border-button">details</a>
                </div>
            </div>
        </li>
        <li class="filter-albums">
            <div class="item-content hidden">
                <div class="item-image">
                    <img src="../media/images/albums/02.jpg" width="500" height="250" alt="">
                </div>
                <div class="item-description">
                    <h5>Love Möna</h5>
                    <p>A Great Success</p>
                    <a href="javasript:void(0)" class="border-button">details</a>
                </div>
            </div>
        </li>
        <li class="filter-studio">
            <div class="item-content hidden">
                <div class="item-image">
                    <img src="../media/images/thumbs/14.jpg" width="375" height="250" alt="">
                </div>
                <div class="item-description">
                    <h5>Studio Gallery</h5>
                    <p>Photos taken in studio</p>
                    <a href="javasript:void(0)" class="border-button">details</a>
                </div>
            </div>
        </li>
        <li class="filter-live-dates">
            <div class="item-content hidden">
                <div class="item-image">
                    <img src="../media/images/thumbs/08.jpg" width="300" height="300" alt="">
                </div>
                <div class="item-description">
                    <h5>Live Dates</h5>
                    <p>Lorem Ipsums are coming to your city</p>
                    <a href="javasript:void(0)" class="border-button">details</a>
                </div>
            </div>
        </li>
        <li class="filter-albums">
            <div class="item-content hidden">
                <div class="item-image">
                    <img src="../media/images/albums/03.jpg" width="500" height="250" alt="">
                </div>
                <div class="item-description">
                    <h5>Cats Everywhere</h5>
                    <p>Because Everyone love cats</p>
                    <a href="javasript:void(0)" class="border-button">details</a>
                </div>
            </div>
        </li>
        <li class="filter-events">
            <div class="item-content hidden">
                <div class="item-image">
                    <img src="../media/images/thumbs/12.jpg" width="300" height="600" alt="">
                </div>
                <div class="item-description">
                    <h5>Concerts Gallery</h5>
                    <p>Photos taken from our concerts</p>
                    <a href="javasript:void(0)" class="border-button">details</a>
                </div>
            </div>
        </li>
        <li class="filter-albums">
            <div class="item-content hidden">
                <div class="item-image">
                    <img src="../media/images/albums/04.jpg" width="500" height="250" alt="">
                </div>
                <div class="item-description">
                    <h5>Electro Stairs</h5>
                    <p>The Electro Album</p>
                    <a href="javasript:void(0)" class="border-button">details</a>
                </div>
            </div>
        </li>
        <li class="filter-albums">
            <div class="item-content hidden">
                <div class="item-image">
                    <img src="../media/images/albums/05.jpg" width="500" height="250" alt="">
                </div>
                <div class="item-description">
                    <h5>Opossum</h5>
                    <p>Sed Auctor Neque Eu</p>
                    <a href="javasript:void(0)" class="border-button">details</a>
                </div>
            </div>
        </li>
        <li class="filter-albums">
            <div class="item-content hidden">
                <div class="item-image">
                    <img src="../media/images/albums/06.jpg" width="500" height="250" alt="">
                </div>
                <div class="item-description">
                    <h5>Mulholland Encounters</h5>
                    <p>Lorem Ipsum Dolor Sit Amet</p>
                    <a href="javasript:void(0)" class="border-button">details</a>
                </div>
            </div>
        </li>
        <li class="filter-albums">
            <div class="item-content hidden">
                <div class="item-image">
                    <img src="../media/images/albums/07.jpg" width="500" height="250" alt="">
                </div>
                <div class="item-description">
                    <h5>Italians Do It better</h5>
                    <p>Because i am italian</p>
                    <a href="javasript:void(0)" class="border-button">details</a>
                </div>
            </div>
        </li>
        <li class="filter-albums">
            <div class="item-content hidden">
                <div class="item-image">
                    <img src="../media/images/albums/08.jpg" width="500" height="250" alt="">
                </div>
                <div class="item-description">
                    <h5>The Unmarketable Album</h5>
                    <p>The Last Album</p>
                    <a href="javasript:void(0)" class="border-button">details</a>
                </div>
            </div>
        </li>
    </ul>
</div>