---
layout              : layout-1.hbs
titleSuffix         : " - Gallery One"
barWithLogo         : true
backgroundImages    : ["../media/images/03.jpg"]
backgroundOverlay   : false
---
{{> background-image }}
<div id="region-gallery" class="region region-dark-background region-page" data-deliverance-region="gallery">
    <!-- page title -->
    <div class="page-title hidden" data-deliverance-element="title">
        <div class="page-title-content">
            <h6>18 October 2015</h6>
            <h2>Live At Envato Music Hall</h2>
        </div>
    </div>
    <!-- page container -->
    <ul id="gallery-container" data-deliverance-element="container" data-gutter="14">
        <li class="image-lightbox" data-src="../media/images/09.jpg" data-width="1400" data-height="788">
            <img width="600" height="300" class="hidden" src="../media/images/thumbs/09.jpg" alt=""><span></span>
        </li>
        <li class="image-lightbox" data-src="../media/images/07.jpg" data-width="1400" data-height="875">
            <img width="400" height="300" class="hidden" src="../media/images/thumbs/07.jpg" alt="">
        </li>
        <li class="image-lightbox" data-src="../media/images/08.jpg" data-width="1400" data-height="934">
            <img width="400" height="400" class="hidden" src="../media/images/thumbs/08.jpg" alt=""><span></span>
        </li>
        <li class="image-lightbox" data-src="../media/images/11.jpg" data-width="1400" data-height="788">
            <img width="500" height="300" class="hidden" src="../media/images/thumbs/11.jpg" alt=""><span></span>
        </li>
        <li class="image-lightbox" data-src="../media/images/12.jpg" data-width="1400" data-height="932">
            <img width="200" height="400" class="hidden" src="../media/images/thumbs/12.jpg" alt=""><span></span>
        </li>
        <li class="image-lightbox" data-src="../media/images/13.jpg" data-width="1400" data-height="934">
            <img width="300" height="400" class="hidden" src="../media/images/thumbs/13.jpg" alt=""><span></span>
        </li>
        <li class="image-lightbox" data-src="../media/images/10.jpg" data-width="1400" data-height="934">
            <img width="400" height="400" class="hidden" src="../media/images/thumbs/10.jpg" alt=""><span></span>
        </li>
        <li class="image-lightbox" data-src="../media/images/15.jpg" data-width="1400" data-height="935">
            <img width="400" height="400" class="hidden" src="../media/images/thumbs/15.jpg" alt=""><span></span>
        </li>
        <li class="image-lightbox" data-src="../media/images/16.jpg" data-width="1400" data-height="935">
            <img width="400" height="400" class="hidden" src="../media/images/thumbs/16.jpg" alt=""><span></span>
        </li>
        <li class="image-lightbox" data-src="../media/images/14.jpg" data-width="1400" data-height="935">
            <img width="300" height="200" class="hidden" src="../media/images/thumbs/14.jpg" alt=""><span></span>
        </li>
    </ul>
</div>