---
layout          : layout-1.hbs
titleSuffix     : " - Index Page"
---
<div id="region-home" class="region region-full-screen region-dark-background posts-bottom-right" data-deliverance-region="home">
    {{> background-video}}
    <div id="full-screen-content">
        <div id="home-claim-container" class="claim-center hidden" data-deliverance-element="claim">
            {{> home-claim}}
        </div>
        {{> home-latest-posts}}
    </div>
</div>