---
layout          : layout-1.hbs
titleSuffix     : " - Video Page"
---
<div id="region-full-video" class="region region-full-screen region-dark-background" data-deliverance-region="full-video">
    <div id="full-screen-content" class="hidden" data-deliverance-element="wrapper">
        <!-- video info box -->
        <div id="video-info-sidebar" class="hidden" data-deliverance-element="sidebar">
            <h5>Take Info</h5>
            <p>
                Directed by Bernhard Wittich<br />
                Produced by Narrenfabrik<br />
                from the album THE LIGHT THE DEAD SEE : thesoulsavers.com
            </p>
            <p>
                Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget.
            </p>
            <p><a target="_blank" href="https://vimeo.com/57578239" class="border-button">watch on vimeo</a></p>
        </div>
        <!-- video title -->
        <h5 id="video-title" class="hidden" data-deliverance-element="title">Soulsavers - Take</h5>
        <!-- video -->
        <div id="video-container" data-deliverance-element="container">
            <div id="video-content" class="hidden" data-deliverance-element="content">
                <iframe src="//player.vimeo.com/video/57578239?color=7a7979&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <!-- info icon -->
        <div id="video-info-icon-container" class="hidden" data-deliverance-element="info-container">
            <span id="video-info-icon" class="ico-button" data-deliverance-element="info">
                <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="14" y="6" width="2" height="2"></rect>
                        <rect x="14" y="11" width="2" height="13"></rect>
                        <rect id="video-info-icon-border" stroke-width="2" x="0" y="0" width="30" height="30"></rect>
                    </g>
                </svg>
            </span>
        </div>
    </div>
</div>