---
layout              : layout-2.hbs
titleSuffix         : " - Page Not Found"
barWithLogo         : true
backgroundImages    : ["../media/images/13b.jpg"]
backgroundOverlay   : true
---
{{> background-image }}
<div id="region-404" class="region region-dark-background region-full-screen" data-deliverance-region="404">
    <div id="container-404">
        <div id="content-404" class="hidden" data-deliverance-element="content">
            <h1>Page Not Found</h1>
            <p>The page you're looking for is not here.</p>
            <a href="{{ layoutNumber }}-home-one.html" class="border-button">start from the beginning</a>
        </div>
    </div>
</div>