---
layout              : layout-2.hbs
titleSuffix         : " - Post Two"
barWithLogo         : true
backgroundOverlay   : false
---
{{> background-blur}}
<div id="region-post" class="region region-dark-background region-post region-post-sidebar post-center" data-deliverance-region="post">
    <div class="post-container">
        <!-- post title -->
        <div class="page-title hidden" data-deliverance-element="title">
            <div class="page-title-content">
                <h6>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="5.0 -10.0 100.0 135.0" enable-background="new 0 0 100 100" xml:space="preserve">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M103.194,97.172c-0.05-0.053-0.105-0.096-0.155-0.146   c0.057,0.043,0.109,0.089,0.165,0.129C103.201,97.162,103.197,97.165,103.194,97.172z M75.238,86.463   c-2.953,0.211-5.764,0.836-8.446,1.73c-5.988,3.043-12.74,4.793-19.918,4.793c-24.345,0-44.079-19.733-44.079-44.079   c0-24.342,19.733-44.079,44.079-44.079s44.079,19.737,44.079,44.079c0,3.733-0.515,7.336-1.388,10.798l0.123,0.105   c-0.908,3.571-1.338,7.32-1.061,11.198c0.628,8.811,4.453,16.612,10.233,22.416C92.297,88.527,84.049,85.832,75.238,86.463z"/>
                    </svg>
                    Lorem Ipsum
                </h6>
                <h2>Proin Quis Tortor Orci</h2>
            </div>
        </div>

        <aside class="hidden" data-deliverance-element="sidebar">
            <div class="post-aside-content">
                <div class="widget">
                    {{> share-on }}
                </div>
                {{> widget-categories }}
                {{> widget-search }}
                {{> widget-text }}
            </div>
        </aside>

        <!-- featured image -->
        <div class="post-content hidden">
            <div class="post-featured-image">
                <img src="../media/images/thumbs/11.jpg" class="image-preload image-background-blur" alt="">
            </div>
        </div>
        
        <!-- post content -->
        <div class="post-content hidden">
            <div class="post-meta">Posted by Luca Bertaiola on 14th March 2015</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est.</p>
            <p>Bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque.</p>
            <p>Tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum.</p>
            <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus.</p>
            <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id.</p>
            <p>Bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque.</p>
            <p>Tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum.</p>
            <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus.</p>
        </div>

        <div class="post-content hidden">
            {{>posts-list}}
        </div>

        <!-- comments -->
        <div class="post-content hidden">
            <h3>2 Comments</h3>
            <ol class="commentlist">
                <li class="comment even thread-even depth-1">
                    <div id="comment-4" class="clearfix">
                        <img alt="" src="http://0.gravatar.com/avatar/c007ef5cbce13e23cad4f2136f63a3ef?s=64&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G" class="avatar avatar-64 photo grav-hashed grav-hijack" height="64" width="64" id="grav-c007ef5cbce13e23cad4f2136f63a3ef-0">
                        <header class="comment-header">
                            <div class="comment-author vcard">
                            <cite class="fn"><a href="javascript:void(0)" rel="external nofollow" class="url">Jesse Campbell</a></cite></div>
                            <div class="comment-meta commentmetadata"><a href="javascript:void(0)">September 4, 2014 at 1:08 am</a>
                                <a class="comment-reply-link" href="javascript:void(0)">Reply</a>
                            </div>
                        </header>

                        <div class="comment-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae orci lacus. Aliquam sagittis, lacus at semper volutpat, nunc augue sollicitudin orci, quis blandit odio tortor non purus.</p>
                        </div>
                    </div>
                    <ul class="children">
                        <li class="comment even thread-even depth-1">
                            <div id="comment-4" class="clearfix">
                                <img alt="" src="http://0.gravatar.com/avatar/c007ef5cbce13e23cad4f2136f63a3ef?s=64&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G" class="avatar avatar-64 photo grav-hashed grav-hijack" height="64" width="64" id="grav-c007ef5cbce13e23cad4f2136f63a3ef-0">
                                <header class="comment-header">
                                    <div class="comment-author vcard">
                                    <cite class="fn"><a href="javascript:void(0)" rel="external nofollow" class="url">Jesse Campbell</a></cite></div>
                                    <div class="comment-meta commentmetadata">
                                        <a href="javascript:void(0)">September 4, 2014 at 1:08 am</a>
                                        <a class="comment-reply-link" href="javascript:void(0)">Reply</a>
                                    </div>
                                </header>

                                <div class="comment-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae orci lacus. Aliquam sagittis, lacus at semper volutpat, nunc augue sollicitudin orci, quis blandit odio tortor non purus.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>