---
layout              : layout-2.hbs
titleSuffix         : " - Example Page Layout 3"
barWithLogo         : true
---
<div id="region-page-three" class="region region-dark-background region-icons-bar-fill region-page" data-deliverance-region="page-three">
    <div id="page-left" class="hidden" data-deliverance-element="left">
        <div class="page-content">
            <div class="page-content-in">
                <h2>Vestibulum Ante Ipsum Primis In Faucibus</h2>
                <div class="region-content">
                    <div class="column column-12">
                        <div class="column-content">
                            <p>Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis.</p>
                            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci.</p>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        
                        </div>
                    </div>
                </div>
                {{> tracklist-soundcloud }}
                <div class="content-spacer">&nbsp;</div>
            </div>
        </div>
    </div>
    <div id="page-right" class="hidden" data-deliverance-element="right">
        <div class="page-content">
            <div class="page-content-in">
                <h2>Vestibulum Ante Ipsum Primis In Faucibus</h2>
                <div class="region-content">
                    <div class="column column-12">
                        <div class="column-content">
                            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci.</p>
                            <p>Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis.</p>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        
                        </div>
                    </div>
                </div>
                {{> slider }}
                {{> events }}
                <div class="content-spacer">&nbsp;</div>
            </div>
        </div>
    </div>
</div>