---
layout          : master.hbs
barWithLogo     : true
containerClass  : bar-bottom bar-with-logo
layoutNumber    : 1
---
{{> playlist }}
{{> icons-bar }}
{{> bar }}
<div id="content">
    <!-- deliverance-content -->
    {{> body }}
    <!-- /deliverance-content -->
</div>