---
layout          : master.hbs
barWithLogo     : true
containerClass  : bar-top bar-with-logo
layoutNumber    : 2
---
{{> playlist }}
{{> bar }}
<div id="content">
    <!-- deliverance-content -->
    {{> body }}
    <!-- /deliverance-content -->
</div>
{{> icons-bar }}