<div id="background" class="background-video hidden" data-deliverance-region="background">
    <!-- async load of videos -->
    <video data-deliverance-element="video" class="hidden" data-mp4="../media/videos/test.01.mp4" data-webm="../media/videos/test.01.webm"></video>
</div>