<div id="background" class="background-images hidden" data-deliverance-region="background" data-background-delay="5000">
    {{#each backgroundImages}}
    <img src="{{this}}" alt="" class="hidden">
    {{/each}}
    {{#if backgroundOverlay}}
    <div id="background-overlay"></div>
    {{/if}}
</div>