<div id="background" class="background-blur hidden" data-deliverance-region="background">
    <canvas id="background-blur" data-deliverance-element="blur"></canvas>
    {{#if backgroundOverlay}}
    <div id="background-overlay"></div>
    {{/if}}
</div>