<!-- player bar -->
<div id="bar-top" class="bar-player" data-deliverance-element="top" data-deliverance-region="player">
    <div id="bar-player-button" data-deliverance-element="player-nav">
        <svg width="11px" height="8px" viewBox="0 0 11 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M0,0 L11,0 L5.5,8 L0,0 Z" id="triangle" fill="#000000"></path>
            </g>
        </svg>
    </div>
    <div id="bar-player-track">
        <div id="bar-player-track-name" data-deliverance-element="track-name"></div>
        <div id="bar-player-author" data-deliverance-element="track-artist"></div>
        <div id="bar-player-commands">
            <span id="bar-player-command-prev" data-deliverance-element="prev">
                <svg width="24px" height="12px" viewBox="0 0 24 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <path d="M0,7 L19.9776864,6.96633378 L17.0235927,11 L17.9506835,12 L24,6 L18.0202223,0 L17.0235927,1 L19.9776864,4.96803799 L0,5.010234 L0,7 Z" id="prev" fill="#323746" transform="translate(12.000000, 6.000000) rotate(-180.000000) translate(-12.000000, -6.000000) "></path>
                    </g>
                </svg>
            </span>
            <span id="bar-player-command-play" data-deliverance-element="play">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <g>
                        <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472 c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z"></path>
                        <polygon points="192,336 352,256 192,176"></polygon>
                    </g>
                </svg>
            </span>
            <span id="bar-player-command-pause" class="hide" data-deliverance-element="pause">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                <g>
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472 c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z"></path>
                    <g>
                        <polygon points="271.5,336.5 335.5,336.5 335.5,211.5 335.5,176.5 271.5,176.5"></polygon>
                        <rect x="175.5" y="176.5" width="64" height="160"></rect>
                    </g>
                </g>
                </svg>
            </span>
            <span id="bar-player-command-playlist" data-deliverance-element="playlist">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M256,0C114.609,0,0,114.609,0,256s114.609,256,256,256s256-114.609,256-256S397.391,0,256,0z M256,472 c-119.297,0-216-96.703-216-216S136.703,40,256,40s216,96.703,216,216S375.297,472,256,472z"></path>
                    <g>
                        <rect x="151.5" y="184.5" fill-rule="evenodd" clip-rule="evenodd" width="192" height="32"></rect>
                        <rect x="151.5" y="248.5" fill-rule="evenodd" clip-rule="evenodd" width="192" height="32"></rect>
                        <rect x="151.5" y="312.5" fill-rule="evenodd" clip-rule="evenodd" width="192" height="32"></rect>
                    </g>
                </svg>
            </span>
            <span id="bar-player-command-next" data-deliverance-element="next">
                <svg width="24px" height="12px" viewBox="0 0 24 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <path d="M-3.55271368e-15,7 L19.9776864,6.96633378 L17.0235927,11 L17.9506835,12 L24,6 L18.0202223,-5.32907052e-15 L17.0235927,1 L19.9776864,4.96803799 L-3.55271368e-15,5.010234 L-3.55271368e-15,7 Z" fill="#323746"></path>
                    </g>
                </svg>
            </span>
        </div>
    </div>
</div>