<div class="region-events" data-deliverance-region="events">
    <h4>Tour Dates</h4>
    <ul>
        <li class="next-event">
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>04</div>
                <div>MAR</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>Nulla At Nulla Justo</h4>
                <p class="no-indent">Quisque eget odio ac lectus vestibulum faucibus eget in metus..</p>
            </div>
        </li>
        <li>
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>08</div>
                <div>MAR</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>Curabitur Vulputate, Ligula Lacinia</h4>
                <p class="no-indent">Quisque eget odio ac lectus vestibulum faucibus eget in metus.</p>
            </div>
        </li>
        <li>
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>17</div>
                <div>MAR</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>Duis Aliquet Egestas</h4>
                <p class="no-indent">Quisque eget odio ac lectus vestibulum faucibus eget in metus.</p>
            </div>
        </li>
        <li>
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>04</div>
                <div>APR</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>Nulla Facilisi. Duis Aliquet Egestas Purus In</h4>
                <p class="no-indent">Quisque eget odio ac lectus vestibulum faucibus eget in metus.</p>
            </div>
        </li>
    </ul>
</div>