<div class="region-events" data-deliverance-region="events">
    <h4>Tour Dates</h4>
    <ul>
        <li class="next-event">
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>04</div>
                <div>MAR</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>Atlanta - USA</h4>
                <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.<br />Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut.</p>
            </div>
        </li>
        <li>
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>08</div>
                <div>MAR</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>Chicago - USA</h4>
                <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.<br />Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut.</p>
            </div>
        </li>
        <li>
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>17</div>
                <div>MAR</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>New York - USA</h4>
                <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.<br />Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut.</p>
            </div>
        </li>
        <li>
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>04</div>
                <div>APR</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>Amsterdam - Holland</h4>
                <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.<br />Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut.</p>
            </div>
        </li>
        <li>
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>05</div>
                <div>APR</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>Paris - France</h4>
                <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.<br />Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut.</p>
            </div>
        </li>
        <li>
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>10</div>
                <div>APR</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>Rome - Italy</h4>
                <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.<br />Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut.</p>
            </div>
        </li>
        <li>
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>11</div>
                <div>APR</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>London - England</h4>
                <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.<br />Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut.</p>
            </div>
        </li>
        <li>
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>12</div>
                <div>APR</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>Madrird - Spain</h4>
                <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.<br />Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut.</p>
            </div>
        </li>
        <li>
            <div class="event-button">
                <a href="javascript:void(0)" class="button button-lite history-ignore"><span>book</span></a>
            </div>
            <div class="event-date">
                <div>13</div>
                <div>MAY</div>
                <div>2015</div>
            </div>
            <div class="event-content">
                <h4>Melbourne - Australia.</h4>
                <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.<br />Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut.</p>
            </div>
        </li>
    </ul>
</div>