<div class="region-grid" data-deliverance-region="grid">
    <h4>Tour Photos</h4>
    <ul data-deliverance-element="container" data-gutter="14" data-columns="3">
        <li class="image-lightbox" data-src="../media/images/09.jpg" data-width="1400" data-height="788">
            <img width="300" height="150" class="image-preload" src="../media/images/thumbs/09.jpg" alt="">
        </li>
        <li class="image-lightbox" data-src="../media/images/08.jpg" data-width="1400" data-height="934">
            <img width="200" height="150" class="image-preload" src="../media/images/thumbs/08.jpg" alt="">
        </li>
        <li class="image-lightbox" data-src="../media/images/12.jpg" data-width="1400" data-height="932">
            <img width="100" height="200" class="image-preload" src="../media/images/thumbs/12.jpg" alt="">
        </li>
        <li class="info-box">
            <div class="info-box-content">
                <h5>Lorem Ipsum</h5>
                <p>Praesent id metus massa, ut blandit odio.<br />Proin quis tortor orci. Etiam.</p>
                <a href="javascript:void(0)" class="border-button">read more</a>
            </div>
        </li>
        <li class="image-lightbox" data-src="../media/images/11.jpg" data-width="1400" data-height="788">
            <img width="250" height="150" class="image-preload" src="../media/images/thumbs/11.jpg" alt="">
        </li>
        <li class="image-lightbox" data-src="../media/images/07.jpg" data-width="1400" data-height="875">
            <img width="200" height="150" class="image-preload" src="../media/images/thumbs/07.jpg" alt="">
        </li>
        <li class="image-lightbox" data-src="../media/images/10.jpg" data-width="1400" data-height="934">
            <img width="200" height="200" class="image-preload" src="../media/images/thumbs/10.jpg" alt="">
        </li>
    </ul>
</div>