<div id="home-claim-content">
    <div id="claim-line" class="hidden"></div>
    <div id="home-claim-line-1" class="hidden">lorem ipsum</div>
    <div id="home-claim-line-2" class="hidden">the new album</div>
    <div id="home-claim-line-3" class="hidden">out now!</div>
    <span class="button hidden">
        <span>listen</span>
    </span>
</div>