<div id="icons-bar" data-deliverance-region="icons-bar">
    {{#unless barWithLogo}}
        {{> logo }}
    {{/unless}}

    <!-- menu icon -->
    <span id="ico-menu" class="left ico ico-button hidden" data-deliverance-element="menu">
        <svg width="20px" height="14px" viewBox="0 0 20 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M0,12 L20,12 L20,14 L0,14 L0,12 Z M0,8 L20,8 L20,10 L0,10 L0,8 Z M0,4 L20,4 L20,6 L0,6 L0,4 Z M0,0 L20,0 L20,2 L0,2 L0,0 Z" id="ico-menu" fill="#FFFFFF"></path>
            </g>
        </svg>
    </span>
    <!-- social icons -->
    <a href="javascript:void(0)" class="ico right ico-button hidden history-ignore">
        <svg enable-background="new 0 -43.5 100 87.5" width="24" height="21" version="1.1" viewBox="0 -43.5 100 87.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M3.361,17.531L5,10.529L3.361,3.291C3.316,3.076,2.904,2.912,2.402,2.912c-0.508,0-0.92,0.164-0.959,0.381L0,10.529  l1.443,7.002c0.039,0.217,0.451,0.381,0.959,0.381C2.904,17.912,3.316,17.748,3.361,17.531z M13.611,21.418L15,10.598l-1.389-16.74  c-0.041-0.426-0.561-0.76-1.191-0.76c-0.635,0-1.156,0.334-1.188,0.76L10,10.598l1.232,10.82c0.031,0.422,0.553,0.756,1.188,0.756  C13.051,22.174,13.57,21.844,13.611,21.418z M23.84,21.24L25,10.604l-1.16-22.287c-0.031-0.523-0.648-0.934-1.404-0.934  c-0.762,0-1.379,0.41-1.406,0.934L20,10.604l1.029,10.642c0.027,0.519,0.645,0.928,1.406,0.928  C23.191,22.172,23.809,21.764,23.84,21.24z M34.049,21.082L35,10.605l-0.951-22.449c-0.023-0.621-0.727-1.107-1.6-1.107  c-0.879,0-1.582,0.486-1.604,1.107L30,10.605l0.85,10.475c0.018,0.615,0.721,1.102,1.6,1.102  C33.322,22.182,34.025,21.703,34.049,21.082z M44.248,20.949L45,10.609l-0.752-25.74c-0.016-0.707-0.818-1.281-1.787-1.281  c-0.971,0-1.771,0.576-1.787,1.281L40,10.602c0,0.017,0.674,10.349,0.674,10.349c0.016,0.698,0.816,1.272,1.787,1.272  C43.43,22.223,44.232,21.656,44.248,20.949z M51.391,22.23c0.033,0.002,35.492,0.02,35.723,0.02C94.232,22.25,100,16.67,100,9.787  c0-6.885-5.768-12.465-12.887-12.465c-1.766,0-3.449,0.348-4.984,0.969C81.104-12.939,71.363-21.75,59.484-21.75  c-2.906,0-5.742,0.553-8.244,1.488c-0.972,0.366-1.232,0.739-1.24,1.467v39.553C50.01,21.52,50.621,22.156,51.391,22.23z"></path>
        </svg>
    </a>
    <a href="javascript:void(0)" class="ico right ico-button hidden history-ignore">
        <svg width="19px" height="15px" viewBox="0 0 19 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M19,1.77563321 C18.3009363,2.0767933 17.5496971,2.28036655 16.7612002,2.37189701 C17.5659509,1.90324953 18.1840794,1.16116426 18.4751271,0.276862513 C17.7218839,0.710866133 16.8876684,1.02597749 15.9997559,1.19577208 C15.288743,0.459815281 14.2756239,0 13.1544799,0 C11.0017363,0 9.2563779,1.69538635 9.2563779,3.78663562 C9.2563779,4.08343367 9.29085238,4.37244497 9.35731501,4.64963193 C6.11767923,4.49166168 3.24538771,2.98413088 1.32283272,0.693057528 C0.987291065,1.25233422 0.795028144,1.90281693 0.795028144,2.59681176 C0.795028144,3.9106109 1.48318171,5.06968428 2.52914246,5.74875448 C1.89015863,5.72907128 1.28910043,5.55873595 0.763596627,5.27509607 C0.763225534,5.29088589 0.763225534,5.3067478 0.763225534,5.32271787 C0.763225534,7.15743671 2.10691364,8.6878952 3.89008637,9.03584793 C3.56304272,9.12236746 3.21863196,9.16872751 2.86312553,9.16872751 C2.61193316,9.16872751 2.36775442,9.14493464 2.12969871,9.10073758 C2.6257749,10.605096 4.06531615,11.7000368 5.77107902,11.7304989 C4.4370022,12.7462022 2.75621384,13.3515505 0.929883086,13.3515505 C0.615233925,13.3515505 0.304963652,13.3336337 0,13.2985573 C1.72505967,14.3730218 3.7740458,15 5.97536533,15 C13.1452768,15 17.0661267,9.22979589 17.0661267,4.22572226 C17.0661267,4.06155144 17.0623044,3.89824582 17.0548084,3.73580539 C17.8165867,3.20190776 18.4774278,2.53498634 19,1.77563321 L19,1.77563321 L19,1.77563321 Z" fill="#000000"></path>
            </g>
        </svg>
    </a>
    <!-- loader icon -->
    <span id="ico-loader" class="ico hidden" data-deliverance-element="loader">
        <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M0,10.5 C0.0108448183,4.76869852 4.70096667,0 10.5,0 C13.7554667,0 16.6642,1.4819 18.5894333,3.80706667 L16.4157,5.9808 C15.0553667,4.19976667 12.9159333,3.04826667 10.5,3.04826667 C6.73866667,3.04826667 3.63976667,5.83333333 3,9 L7,9 C7,9 1.00525658,14.9611228 1,15 C0.365689917,13.4393228 0.0108448183,12.1037652 0,10.5 Z M21,10.5 C20.9891552,16.2313015 16.2990333,21 10.5,21 C7.24453333,21 4.3358,19.5181 2.41056667,17.1929333 L4.5843,15.0192 C5.94463333,16.8002333 8.08406667,17.9517333 10.5,17.9517333 C14.2613333,17.9517333 17.3602333,15.1666667 18,12 L14,12 C14,12 19.9947434,6.0388772 20,6 C20.6343101,7.5606772 20.9891552,8.89623481 21,10.5 Z" fill="#000000"></path>
            </g>
        </svg>
    </span>
</div>