<!-- posts list region -->
<div class="region-posts-list" data-deliverance-region="posts-list">
    <h4>Related Posts</h4>
    <ul>
        <li>
            <a href="javascript:void(0)">
                <h4>Lorem Ipsum Dolor Sit Amet</h4>
            </a>
            <h6>Posted on May 17th 2015 by <a href="javascript:void(0)">Luca Bertaiola</a> on <a href="javascript:void(0)">Rock</a>, <a href="javascript:void(0)">Sounds</a>, <a href="javascript:void(0)">Projects</a>.</h6>
        </li>
        <li>
            <a href="javascript:void(0)">
                <h4>Sed Molestie Augue Sit</h4>
            </a>
            <h6>Posted on May 17th 2015 by <a href="javascript:void(0)">Luca Bertaiola</a> on <a href="javascript:void(0)">Rock</a>, <a href="javascript:void(0)">Sounds</a>, <a href="javascript:void(0)">Projects</a>.</h6>
        </li>
        <li>
            <a href="javascript:void(0)">
                <h4>Vestibulum Ante Ipsum Primis In</h4>
            </a>
            <h6>Posted on May 17th 2015 by <a href="javascript:void(0)">Luca Bertaiola</a> on <a href="javascript:void(0)">Rock</a>, <a href="javascript:void(0)">Sounds</a>, <a href="javascript:void(0)">Projects</a>.</h6>
        </li>
        <li>
            <a href="javascript:void(0)">
                <h4>Class Aptent Taciti Sociosqu</h4>
            </a>
            <h6>Posted on May 17th 2015 by <a href="javascript:void(0)">Luca Bertaiola</a> on <a href="javascript:void(0)">Rock</a>, <a href="javascript:void(0)">Sounds</a>, <a href="javascript:void(0)">Projects</a>.</h6>
        </li>
    </ul>
</div>