<div class="region-profiles" data-deliverance-region="profiles">
    <!-- svg clip -->
    <svg id="profile-clip">
        <defs>
            <clipPath id="hex-clip">
                <polygon points="50 0 93.3012702 25 93.3012702 75 50 100 6.69872981 75 6.69872981 25"></polygon>
            </clipPath>
        </defs>
    </svg>
    <!-- container -->
    <div class="profiles-container">
        <h4>Lorem Ipsums Members</h4>
        <div class="profiles-arrows">
            <span class="profiles-arrows-next ico-button" data-deliverance-element="next">
                <svg width="29px" height="14px" viewBox="0 0 29 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <path d="M0,8 L24,8 L21,13 L22,14 L29,7 L22,0 L21,1 L24,6 L0,6 L0,8 Z" fill="#000000"></path>
                    </g>
                </svg>
            </span>
            <span class="profiles-arrows-prev ico-button" data-deliverance-element="prev">
                <svg width="29px" height="14px" viewBox="0 0 29 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <path d="M-3.55271368e-15,8 L24,8 L21,13 L22,14 L29,7 L22,1.42108547e-14 L21,1 L24,6 L-3.55271368e-15,6 L-3.55271368e-15,8 Z" fill="#000000" transform="translate(14.500000, 7.000000) rotate(-180.000000) translate(-14.500000, -7.000000) "></path>
                    </g>
                </svg>
            </span>
        </div>
        <div class="profile-bar" data-deliverance-element="bar" data-start-from="1">
            <!-- profile -->
            <div class="profile">
                <svg class="profile-image" width="100px" height="100px" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <image x="0" y="0" width="100%" height="100%" clip-path="url(#hex-clip)" xlink:href="../media/images/thumbs/profile-01.jpg" />
                </svg>
                <h3>Carla Spaghetti</h3>
                <h5>Drums</h5>
                <p class="no-indent">Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus.</p>
                <a href="javascript:void(0)" class="border-button">Her Profile</a>
            </div>
            <!-- profile -->
            <div class="profile">
                <svg class="profile-image" width="100px" height="100px" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <image x="0" y="0" width="100%" height="100%" clip-path="url(#hex-clip)" xlink:href="../media/images/thumbs/profile-03.jpg" />
                </svg>
                <h3>Antonio Calamari</h3>
                <h5>Voice</h5>
                <p class="no-indent">Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus.</p>
                <a href="javascript:void(0)" class="border-button">His Profile</a>
            </div>
            <!-- profile -->
            <div class="profile">
                <svg class="profile-image" width="100px" height="100px" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <image x="0" y="0" width="100%" height="100%" clip-path="url(#hex-clip)" xlink:href="../media/images/thumbs/profile-02.jpg" />
                </svg>
                <h3>Carla Tonno</h3>
                <h5>Guitarist</h5>
                <p class="no-indent">Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus.</p>
                <a href="javascript:void(0)" class="border-button">Her Profile</a>
            </div>
        </div>
    </div>
</div>