<!-- slider region -->
<div class="region-slider" data-deliverance-region="slider">
    <div class="owl-carousel" data-deliverance-element="container">
      <div class="item"><img class="lazyOwl" data-src="../media/images/albums/01.jpg" style="height:auto; width: 100%" alt=""></div>
      <div class="item"><img class="lazyOwl" data-src="../media/images/albums/02.jpg" style="height:auto; width: 100%" alt=""></div>
      <div class="item"><img class="lazyOwl" data-src="../media/images/albums/03.jpg" style="height:auto; width: 100%" alt=""></div>
      <div class="item"><img class="lazyOwl" data-src="../media/images/albums/04.jpg" style="height:auto; width: 100%" alt=""></div>
      <div class="item"><img class="lazyOwl" data-src="../media/images/albums/05.jpg" style="height:auto; width: 100%" alt=""></div>
      <div class="item"><img class="lazyOwl" data-src="../media/images/albums/06.jpg" style="height:auto; width: 100%" alt=""></div>
      <div class="item"><img class="lazyOwl" data-src="../media/images/albums/07.jpg" style="height:auto; width: 100%" alt=""></div>
      <div class="item"><img class="lazyOwl" data-src="../media/images/albums/08.jpg" style="height:auto; width: 100%" alt=""></div>
    </div>
</div>