<div class="region-tracklist" data-deliverance-region="tracklist" data-tracklist-type="mp3" data-title="Love Möna" data-author="The Lorem Ipsums" data-cover="../media/images/albums/01.jpg">
    <h4>California Playlist</h4>
    <div class="tracklist-cover">
        <img src="../media/images/albums/01.jpg" alt="">
    </div>
    <ul data-deliverance-element="tracks">
        <li data-index="0" data-title="Odyssey" data-author="Overwerk" data-duration="4:38" data-mp3="http://localhost/mp3/last_fm/OVERWERK%20-%20Odyssey.mp3"><span>1.</span>Overwerk - Odyssey</li>
        <li data-index="1" data-title="Blue Steel" data-author="Work Drugs" data-duration="3:41" data-mp3="http://localhost/mp3/last_fm/Work%20Drugs%20-%20Blue%20Steel.mp3"><span>2.</span>Work Drugs - Blue Steel</li>
        <li data-index="2" data-title="From Embrace To Embrace" data-author="Joy Wants Eternity" data-duration="5:25" data-mp3="http://localhost/mp3/last_fm/Joy%20Wants%20Eternity%20-%20From%20Embrace%20To%20Embrace.mp3"><span>3.</span>Joy Wants Eternity - From Embrace To Embrace</li>
        <li data-index="3" data-title="You" data-author="Nils Frahm" data-duration="2:38" data-mp3="http://localhost/mp3/last_fm/Nils%20Frahm%20-%20You.mp3"><span>4.</span>Nils Frahm - You</li>
    </ul>
</div>