<div class="widget">
    <h5>categories</h5>
    <ul>
        <li><a href="javascript:void(0)">Concerts</a></li>
        <li><a href="javascript:void(0)">Studio</a></li>
        <li><a href="javascript:void(0)">Albums</a></li>
        <li><a href="javascript:void(0)">Tour</a></li>
        <li><a href="javascript:void(0)">Music</a></li>
    </ul>
</div>